.bgimageorder {
    background-Image: url('https://thumbs.dreamstime.com/b/fashion-shopping-girl-portrait-beauty-woman-bags-mall-shopper-sales-center-180239800.jpg');
    background-Size: fill;
    background-Position: center;
    background-Blend-Mode: overlay;
}